<div class="flex h-full w-full bg-gray-100">

  <div class="flex flex-column h-full p-4">
    <div class="flex align-items-center gap-4">
      <img src="/assets/logo.png" alt="logotipo_beni" height="180">

      <div class="flex flex-column gap-4">
        <label for="" class="text-6xl font-bold">Orçamento</label>

        <div class="flex justify-content-between w-18rem">
          <a class="flex align-items-center gap-1" href="https://wa.me/5562999094787"
            style="text-decoration: none; color: black;">
            <i class="pi pi-whatsapp text-green-600"></i> <span class="text-sm font-bold">(62) 9 9909 4784</span>
          </a>

          <a class="flex align-items-center gap-1" href="https://www.instagram.com/benignoaudio/"
            style="text-decoration: none; color: black;">
            <i class="pi pi-whatsapp text-red-400"></i> <span class="text-sm font-bold">benignoaudio </span>
          </a>

        </div>
      </div>
    </div>

    <div class="flex flex-column flex-grow-1">
      <p-fieldset legend="Informações do Cliente" styleClass="mt-4">

      </p-fieldset>


      <p-fieldset legend="Itens & Serviços" styleClass="mt-4">

        <div class="flex flex-column">

          <div class="flex flex-align-items-center justify-content-center">
            <span class="p-float-label">
              <p-calendar id="data_orcamento" styleClass="p-inputtext-sm"></p-calendar>
              <label htmlFor="data_orcamento">Data Orçamento</label>
            </span>

            <p-button icon="pi pi-plus" [rounded]="true" [text]="true" [raised]="true" severity="primary"
              class="ml-auto"></p-button>
          </div>


          <p-table [tableStyle]="{ 'min-width': '35rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
              </tr>
            </ng-template>
          </p-table>

          <p><strong>Total (R$):</strong></p>
        </div>
      </p-fieldset>
    </div>
  </div>
</div>